API_PORT=8000
PYTHONPATH=/app

MAX_ACTIVITY_NESTING_LEVEL=3

POSTGRES_DB=organization_catalog
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050

JWT_SECRET_KEY="63f4945d921d599f27ae4fdf5bada3f1"